{% extends "libs/template.html.twig" %}
{% block content %}
<div id="doc_app" class="box-layout">
    <div class="row">
        <div class="col-6 card card-height-1 clickable" style="margin: 0 20px 0 0;" @click="change_global_tabs(0)" :selected="global_tabs==0 ? true : false">
            <center><h2>Améliorations techniques</h2></center>
        </div>

        <div class="col-6 card card-height-1 clickable" style="margin: 0 0 0 20px;" @click="change_global_tabs(1)" :selected="global_tabs==1 ? true : false">
            <center><h2>Ressources documentaires (Tutoriel, Lois, normes, etc...)</h2></center>
        </div>
    </div>
    <div class="card card-height-1" style="margin-top: 40px;" v-if="global_tabs==1">
        <div class="row tabs">
            <div class="col-3 tabs-menu">
                <ul>
                    <li class="clickable" @click="change_tab(0)" :selected="selected_tab==0 ? true : false">Protocole sanitaire d'une fabrique</li>
                    <li class="clickable" @click="change_tab(1)" :selected="selected_tab==1 ? true : false">Processus semi-centralisé</li>
                    <li class="clickable" @click="change_tab(2)" :selected="selected_tab==2 ? true : false">Processus centralisé</li>
                    <li class="clickable" @click="change_tab(3)" :selected="selected_tab==3 ? true : false">Fabrication d'un masque</li>
                    <li class="clickable" @click="change_tab(4)" :selected="selected_tab==4 ? true : false">Gestion de la fabrique</li>
                </ul>
            </div>

            <div class="col-9 tabs-content">

                <!-- protocole sanitaire d'une fabrique-->
                <div v-show="selected_tab==0">Afin d’éviter qu’une fabrique ne devienne un vecteur de
                    transmission du virus, il est indispensable de respecter les
                    règles sanitaires ci-dessous.
                    <br/>
                    <iframe src="/pdf/health_protocol.pdf#toolbar=0" width="100%" height="600px"></iframe>
                </div>

                <!-- semi-centralisé-->
                <div v-show="selected_tab==1">Dans le processus semi-centralisé, les bénévoles
                    récupèrent les patrons confectionnés dans la fabrique,
                    ils cousent chez eux, puis ramènent les masques finis à
                    la fabrique.
                    <br/>
                    <iframe src="/pdf/semi_centralised.pdf#toolbar=0" width="100%" height="600px"></iframe>
                </div>

                <!-- centralisé-->
                <div v-show="selected_tab==2">Dans le processus centralisé, toutes les étapes de
                    confection sont faites dans la fabrique.
                    <br/>
                    <iframe src="/pdf/centralised.pdf#toolbar=0" width="100%" height="600px"></iframe>
                </div>

                <!-- masques-->
                <div v-show="selected_tab==3">Pour qu’un masque soit efficace il faut au moins respecter ces deux critères :
                    <ul>
                        <li>Il faut respecter les specifications AFNOR (c’est la manière dont le
                            masque est cousu)</li>
                        <li>Le tissu utilisé doit être certifié. La Direction Générale des
                            Armées (DGA) certifie les tissus qui sont efficaces pour filtrer
                            les particules.</li>
                        <li>Différents sites décrivent la fabrication d'un masque respectant les spécifications AFNOR
                            <ul>
                                <li><a href="https://masques-barrieres.afnor.org/les-informations-essentielles">https://masques-barrieres.afnor.org/les-informations-essentielles</a></li>
                                <li><a href="https://www.atelierdelacreation.com/blog/42-tuto-couture-coudre-un-masque-de-protection">https://www.atelierdelacreation.com/blog/42-tuto-couture-coudre-un-masque-de-protection</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- Gestion de la fabrique -->
                <div v-show="selected_tab==4">
                    <div class="row">
                        <div class="col-12" style="border: 1px solid black;">
                            <h3>Protocoles des dons :</h3>
                            <br/>
                            <p><ul>
                                <li><a href="/pdf/management/machine_donation.pdf">Don de machine</a></li>
                                <li><a href="/pdf/management/tissue_donation.pdf">Don de tissu ou autre</a></li>
                            </ul></p>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12" style="border: 1px solid black;">
                            <h3>Ouvrir la fabrique :</h3>
                            <br/>
                            <p><ul>
                                <li><a href="/pdf/management/open_fabric_welcome.pdf">Ouverture acceuil</a></li>
                                <li><a href="/pdf/management/open_fabric_relaxation_space.pdf">Ouverture space détente</a></li>
                                <li><a href="/pdf/management/open_fabric_big_room.pdf">Ouverture grande salle</a></li>
                            </ul></p>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12" style="border: 1px solid black;">
                            <h3>Fermer la fabrique :</h3>
                            <br/>
                            <p><ul>
                                <li><a href="/pdf/management/close_welcome.pdf">Fermeture de l'accueil</a></li>
                                <li><a href="/pdf/management/close_relaxation_space.pdf">Fermeture espace détente</a></li>
                                <li><a href="/pdf/management/close_big_room.pdf">Fermeture grande salle</a></li>
                                <li><a href="/pdf/management/close_SAS.pdf">Fermeture SAS de sortie</a></li>
                                <li><a href="/pdf/management/close_WC.pdf">Fermeture WC</a></li>
                            </ul></p>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12" style="border: 1px solid black;">
                            <h3>Pendant la journée :</h3>
                            <br/>
                            <iframe src="/pdf/during_day.pdf#toolbar=0" width="100%" height="300px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: '#doc_app',
        delimiters: ['${', '}'],
        data: {
            global_tabs: 1,
            selected_tab: 0,
        },
        methods: {
            change_global_tabs: function(new_tab){
                this.global_tabs = new_tab;
            },
            change_tab: function(new_tab){
                this.selected_tab = new_tab;
            }
        }
    });
</script>
{% endblock %}