{% extends "libs/template.html.twig" %}
{% block content %}
<div class="content home-bg">
    <div class="row" style="background-image: url('/img/ligne1.png');background-repeat: no-repeat;background-size: auto;">
        <div class="col-8">
            <div class="vertical-align">
                <center>
                    <h2 style="position: relative;">
                        A qui s’adresse cette application ?
                        <img class="title-underline-decoration" style="width: 35%;" src="/img/soustitre1.png" />
                    </h2>
                    <br/>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;L’application s’adresse à toute personne, élue ou
                        particulier, désireuse d’organiser localement une production de masques grand public de
                        qualité.
                    </p>
                </center>
            </div>
        </div>
        <div style="height: 600px;"></div>
        <div class="col-4">
            <img src="/img/home2.jpg" style="width: 100%;"/>
        </div>
    </div>
    <br/>
    <div class="row" style="background-image: url('/img/ligne2machine.png');background-repeat: no-repeat;background-size: auto;">
        <div class="col-4">
            <div style="height: 500px;">&nbsp;</div>
        </div>
        <div class="col-8">
            <center>
                <h2 style="position: relative;">
                    Qui sommes-nous ?
                    <img class="title-underline-decoration" src="/img/soustitre2.png" />
                </h2>
                <br/>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;La Fabrique Résiliente est un projet bénévole engagé dans la lutte contre le Covid 19. Il est
                    mené par une quinzaine d’étudiants de l’école d’ingénieur Arts et Métiers, en partenariat
                    avec la mairie de Metz.
                </p>
            </center>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-8">
            <div class="vertical-align">
                <center>
                    <h2 style="position: relative;">
                        Pourquoi la fabrique Résiliente ?
                        <img class="title-underline-decoration" src="/img/soustitre3.png" />
                    </h2>
                    <br/>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Importer de Chine des masques en tissu réutilisables coûte cher et l’acheminement est
                        parfois très long. La production de masques artisanaux quant à elle bat son plein. Du point
                        de vue sanitaire et du point de vue moral un encadrement semble nécessaire. D’une part
                        pour que les protections fabriquées soient efficaces et d’autre part pour que la
                        distribution se fasse au bénéfice des plus vulnérables et/ou défavorisés.
                    </p>
                </center>
            </div>
        </div>
        <div class="col-4">
            <img src="/img/home4.jpg" style="width: 100%;"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-4">
            <div style="background-image:url('/img/cadre1.png');background-repeat: no-repeat; background-size: cover;padding: 20px;margin: -10px;">
                <img src="/img/home3.jpg" style="width: 100%;"/>
            </div>
        </div>
        <div class="col-8">
            <div class="vertical-align">
                <center>
                    <h2 style="position: relative;">
                        Que faisons-nous ?
                        <img class="title-underline-decoration" src="/img/soustitre4.png" />
                    </h2>
                    <br/>
                    <p>
                        La Fabrique Résiliente répond aux problématiques ci-dessus en
                        assurant :
                    </p>
                    <ul>
                        <li>Que les masques artisanaux soient faits avec du tissu certifié et en respectant les
                            Spec AFNOR.</li>
                        <li>Que les masques soient redistribués gratuitement aux personnes prioritaires et
                            dans le respect des normes sanitaires.</li>
                    </ul>
                    <p>
                        Professionnaliser la fabrication de masques artisanaux réalisés par des bénévoles est une
                        tâche complexe et nous avons souhaité capitaliser sur ce site la connaissance et les outils
                        nécessaires pour lancer une « Fabrique Résiliente ».
                    </p>
                </center>
            </div>
        </div>
    </div>

    <div style="height: 200px;"></div>
</div>
{% endblock %}