{% extends "libs/template.html.twig" %}
{% block content %}
<div class="box-layout">
    <div class="card card-height-1">
        <h2>Description du projet</h2>
    </div>
    <br/>
    <div class="card card-height-1">
        <h2>Description de l'équipe</h2>
    </div>
    <br/>
    <div class="card card-height-1">
        <h2>Photo</h2>
    </div>
</div>
{% endblock %}