{% extends "libs/template.html.twig" %}
{% block content %}
Lancer ma fabrique
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
<div id="compute_app">
<div>
    <h2>Objectifs de production</h2>
    <br>

    <form id="firstPartForm">
        <div class="form-group">
            <label>Combien d’habitant y a-t-il dans votre commune ? </label>
            <input type="number" v-model="city_population" />
        </div>
        <div class="form-group">
            <label>Souhaitez-vous rendre la port du masque:</label>
            <select v-model="mask_politic">
                <option value="1">Obligatoire</option>
                <option value="0.8">Recommandé</option>
                <option value="0.6">Libre</option>
            </select>
        </div>

        <p>Nous recommandons la distribution de <label>${recommended_mask_number}</label> de masques pour votre commune</p>

        <div class="form-group">
            <label>Combien de masque souhaitez-vous vous procurer ?  </label>
            <input type="text" v-model="desired_mask_number" />
        </div>
        <div class="form-group">
            <label>A quelle date souhaitez-vous les avoirs à disposition ?  </label>
            <input type="text" v-model="desired_date" placeholder="jj/mm/yyyy">
        </div>

        <p>Vous procurer ${desired_mask_number} masques sur le marché couterai environ ${total_market_mask_cost} euros, produire vos masques localement permettrait d'economiser environ ${total_market_mask_cost - total_local_mask_cost} euros</p>
    </form>
</div>
<br>
<div>
    <h2>Capacité de production</h2>
    <br>
    <label>Pouvez vous estimer le nombre de personnes ayant une machine à coudre dans votre commune ? </label>
    <input type="number" v-model="sewing_machine_number"/>
    <p>Le nombre de machine à coudre est le principal facteur limitant de votre production à moyen terme. En général on compte entre une machine pour 300 habitants et une pour 1000. Nous considèrerons pour la suite le cas moyen d’une machine pour 500 habitants</p>
    <p>Votre capacité de production actuelle varie entre ICIC et LAAE selon le mode de production de la fabrique. </p>
    <p>Pour vous fournir la quantité de masque souhaitez dans le temps imparti vous manque BEAUCIUP
		Machines à coudre. Une machine à coudre haute gamme coûte environ 300 euros, en produisant 200 masques vous amortissez cette machine, cela correspond à 5h de couture environ. 
</p>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: '#compute_app',
        delimiters: ['${', '}'],
        data: {
            mask_market_cost: 4,
            mask_local_cost: 0.5,

            city_population: null,
            mask_politic: 1,
            desired_mask_number: null,
            desired_date_day_str: '',
            desired_date_month_str: '',
            desired_date_year_str: '',

            sewing_machine_number: null
        },
        computed: {
            recommended_mask_number: function(){
                return 10 * this.city_population * parseInt(this.mask_politic);
            },
            desired_date: {
                get: function(){
                    let return_str = this.desired_date_day_str;
                    if(this.desired_date_month_str.length > 0)
                        return_str += "/" + this.desired_date_month_str;
                    if(this.desired_date_year_str.length > 0)
                        return_str += "/" + this.desired_date_year_str;
                    return return_str;
                },
                set: function(newValue){
                    let newValue_splt = newValue.split('/');
                    this.desired_date_day_str = newValue_splt[0];
                    if(newValue_splt.length > 1)
                        this.desired_date_month_str = newValue_splt[1];
                    if(newValue_splt.length > 2)
                        this.desired_date_year_str = newValue_splt[2];
                }
            },
            total_market_mask_cost: function(){
                return this.mask_market_cost * this.desired_mask_number;
            },
            total_local_mask_cost: function(){
                return this.mask_local_cost * this.desired_mask_number;
            }
        }
    });
</script>
{% endblock %}