{% extends "libs/template.html.twig" %}
{% block content %}
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
<div id="compute_app" class="box-layout">
    {% include "forms/production_targets.html.twig" %}

    <br>

    {% include "forms/production_capacity.html.twig" %}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/vue_compute.js"></script>
{% endblock %}