{% extends "libs/template.html.twig" %}
{% block content %}
Lancer ma fabrique
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
<div id="compute_app">
<div>
    <h2>Objectifs de production</h2>
    <br>

    <form id="firstPartForm">
        <div class="form-group">
            <label>Combien d’habitant y a-t-il dans votre commune ? </label>
            <input type="number" v-model="city_population" />
        </div>
        <div class="form-group">
            <label>Souhaitez-vous rendre la port du masque:</label>
            <select v-model="mask_politic">
                <option value="1">Obligatoire</option>
                <option value="0.8">Recommandé</option>
                <option value="0.6">Libre</option>
            </select>
        </div>

        <p>Nous recommandons la distribution de <label>${recommended_mask_number}</label> de masques pour votre commune afin de pouvoir fournir 10 masques barrières par personne.</p>
        <p>Vous procurer <label>${recommended_mask_number}</label> masques sur le marché coûterai environ <label>${recommended_mask__market_cost}</label>. Produire vos masques localement permettrait d'économiser environ ${total_production_cost}</p>

        <div class="form-group">
            <label>Combien de masque souhaitez-vous vous procurer ?  </label>
            <input type="text" v-model="desired_mask_number" />
        </div>
        <div class="form-group">
            <label>A quelle date souhaitez-vous les avoirs à disposition ?  </label>
            <input type="text" v-model="desired_date" placeholder="jj/mm/yyyy">
        </div>
        
        <p>A cette date, pour atteindre votre objectif, il vous faut une production journalière de: ${computed_masks_per_day} masques par jour</p>
    </form>
</div>
<br>
<div>
    <h2>Capacité de production</h2>
    <br>
    <label>Pouvez vous estimer le nombre de personnes ayant une machine à coudre dans votre commune ? </label>
    <input type="number" v-model="sewing_machine_number"/>
    <p>Le nombre de machine à coudre est le principal facteur limitant de votre production à moyen terme. En général on compte entre une machine pour 300 habitants et une pour 1000. Nous considèrerons pour la suite le cas moyen d’une machine pour 500 habitants</p>
    <p>Votre capacité de production actuelle varie entre ICIC et LAAE selon le mode de production de la fabrique. </p>
    <p>Pour vous fournir la quantité de masque souhaitez dans le temps imparti vous manque BEAUCIUP
		Machines à coudre. Une machine à coudre haute gamme coûte environ 300 euros, en produisant 200 masques vous amortissez cette machine, cela correspond à 5h de couture environ. 
</p>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/vue_compute.js"></script>
{% endblock %}