/* THEME color
#a7ff83    light
#17b978
#086972
#071a52    dark

*/

html, body {
    margin: 0 0;
    padding: 0 0;
    background-color: #eee;
}

.menu {
    background-color: #086972;
    margin: 0 0;
    padding: 0 0;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    margin: 0 0;
    padding: 0 15;
    display: inline-block;
    line-height: 60px;
    color: #a7ff83;
}

.menu li:hover{
    background-color: #071a52;
}

/*
 * Box Layout
 */
.box-layout {
    width: 75%;
    margin-left: 12.5%;
}

/*
 * Card design
 */
.card {
    background-color: white;
    padding: 20px;
}
.card-height-1 {
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.5);
}