/* THEME color
#a7ff83    light
#17b978
#086972
#071a52    dark

*/

html, body {
    margin: 0 0;
    padding: 0 0;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #333;
}

.menu {
    background-color: #3498db;
    margin: 0 0;
    padding: 0 0;
    height: 60px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
}

.left-align {
    position: absolute;
    left: 0;
}

.right-align
{
    position: absolute;
    right: 0;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    margin: 0 0;
    padding: 0 15;
    display: inline-block;
    line-height: 60px;
    color: #ecf0f1;
    font-family: sans-serif;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.menu li:hover{
    background-color: #2980b9;
    color: #f1c40f;
    transition: background-color 0.2s, color 0.2s;
}

/*
 * Box Layout
 */
.box-layout {
    width: 75%;
    margin-left: 12.5%;
}

/*
 *  Form style
 */
.form-group
{
    margin: 10px 0;
}

.form-group label
{
    display: block;
}

input[type="text"], input[type="number"], select
{
    width: 100%;
    height: 30px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: none;
    transition: box-shadow 0.2s;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus
{
    border: 1px solid #3498db;
    box-shadow: 0px 0px 10px #3498db;
    transition: box-shadow 0.2s;
}

/*
 * Tooltip
 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: black;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

position: absolute;
bottom: 110%;
left: -100px;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/*
 * Card design
 */
.card {
    font-family: sans-serif;
    background-color: white;
    padding: 20px;
}
.card-height-1 {
    box-shadow: 3px 3px 5px rgba(33, 33, 33, 0.5);
}
.card-height-2 {
    box-shadow: 8px 8px 10px rgba(33, 33, 33, 0.5);
}

/*
 * Table design
 */
table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    padding: 0 !important;
}
table tr td {
    border: 1px solid #333;
    margin: 0 0;
    padding: 5px;
    width: 100%;
    min-width: 200px;
}
.table-desc
{
    border: 1px solid #333;
    margin: 0 0;
    line-height: 100%;
}
.table-desc .h2
{
    margin: auto 0;
}
.table-content{
    padding: 0 0 !important;
    margin: 0 0;
}

/*
 * Grid system
 */
.row {
    display: flex;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    flex: auto;
    padding: 10px;
}

.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
    width: 91.6666666667%;
}

.col-12 {
    width: 100%;
}