<html>
    <head>
        <h1>Fabrique Résiliente</h1>
        <ul>
            <li><a href="/presentation">Présentation</a></li>
            <li><a href="/myfactory">Lancer ma fabrique</a></li>
            <li><a href="/docs">Tout savoir sur la fabrique</a></li>
            <li>Suivi de ma fabrique</li>
        </ul>

    </head>

    <body>
        <header></header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

    <footer></footer>
</html>