<html>
    <head>
        <meta charset="utf-8" />
        <title>Fabrique Résiliente</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link href="/css/all.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="menu">
                <a href="/"><h1 class="left-align" style="color: #eee;margin: 0 0;padding: 0 20px;line-height: 60px;">La fabrique résiliente - Arts et Métiers</h1></a>
                <ul class="right-align">
                    <a href="/home"><li>Présentation</li></a></li>
                    <a href="/myfactory"><li>Lancer ma fabrique</li></a></li>
                    <a href="/docs"><li>Tout savoir sur la fabrique</li></a></li>
                    <li>Suivi de ma fabrique</li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

    <footer></footer>
</html>