<html>
    <head>
        <meta charset="utf-8" />
        <title>Fabrique Résiliente</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
        <link href="/css/all.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="menu">
                <a href="/"><img class="brand-image" src="/img/logo.png" /></a>
                <ul class="right-align">
                    <a href="/home">
                        <li>Présentation </li>
                        <span class="slider"></span>
                    </a>
                    <a href="/myfactory">
                        <li>Lancer ma fabrique</li>
                        <span class="slider"></span>
                    </a>
                    <a href="/docs">
                        <li>Tout savoir sur la fabrique</li>
                        <span class="slider"></span>
                    </a>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

    <footer></footer>
</html>