<form id="firstPartForm" class="card card-height-1">
    <div class="row">
        <div class="col-8">
            <h2>Objectifs de production</h2>
            <div class="form-group">
                <label>Combien d’habitant y a-t-il dans votre commune ? </label>
                <input type="number" v-model="city_population" name="city_population"/>
            </div>
            <div class="form-group">
                <label>Souhaitez-vous rendre le port du masque:</label>
                <select v-model="mask_politic" name="mask_politic">
                    <option value="1">Obligatoire</option>
                    <option value="0.8">Recommandé</option>
                    <option value="0.6">Libre</option>
                </select>
            </div>

            <p>Nous recommandons la distribution de <strong class="tooltip">${recommended_mask_number}<span class="tooltiptext">Tooltip text</span></strong> masques pour votre commune afin de pouvoir fournir ${nb_mask_per_person} masques barrières par personne.</p>
            <p>Vous procurer <strong class="tooltip">${recommended_mask_number}<span class="tooltiptext">Tooltip text</span></strong> masques sur le marché coûterai environ <strong class="tooltip">${recommended_mask_market_cost}€<span class="tooltiptext">Tooltip text</span></strong>. Un masque de la fabrique coûte environ <strong class="tooltip">${mask_local_cost}<span class="tooltiptext">Tooltip text</span></strong> euros. Produire vos masques localement permettrait d'économiser environ <strong class="tooltip">${difference_between_local_and_market}€<span class="tooltiptext">Tooltip text</span></strong></p>

            <div class="form-group">
                <label>Combien de masque souhaitez-vous vous procurer ?</label>
                <input type="text" v-model="desired_mask_number" name="desired_mask_number"/>
            </div>
            <div class="form-group">
                <label>A quelle date souhaitez-vous les avoirs à disposition ?  </label>
                <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                    <input type="text" v-model="desired_date" id="date-input" aria-label="Date-Time">
                    <span class="tui-ico-date"></span>
                </div>
                <div id="wrapper" style="margin-top: -1px;"></div>
            </div>
            
            <p>En comptant ${startup_delay} jours pour mettre en place votre production, vous devez produire <strong class="tooltip">${computed_masks_per_day}<span class="tooltiptext">Tooltip text</span></strong> masques par jour pour atteindre votre objectif</p>
        </div>

        <div class="col-4" style="border-left: 1px solid #333; padding-left: 10px;">
            <h2>Paramètres</h2>
            <form>
                <div class="form-group">
                    <label>Nombre de masques par personnes:</label>
                    <input type="number" v-model="nb_mask_per_person" name="nb_mask_per_person" step="any"/>
                </div>
                <div class="form-group">
                    <label>Prix d'un masque en tissu sur le marché:</label>
                    <input type="number" v-model="mask_market_cost" name="mask_market_cost" step="any"/>
                </div>
                <div class="form-group">
                    <label>Prix d'un masque en tissu fabriqué:</label>
                    <input type="number" v-model="mask_local_cost" name="mask_local_cost" step="any"/>
                </div>
                <div class="form-group">
                    <label>Délai de démarrage de production (jours):</label>
                    <input type="number" v-model="startup_delay" name="startup_delay" step="1"/>
                </div>
            </form>
        </div>
    </div>
</form>