<p>Centralisé</p>
<p>Explications</p>
<p>En moyenne, on estime un temps de production d'environ <strong class="tooltip">${prod_time_semi_centralized_hours}<span class="tooltiptext">Tooltip text</span></strong> heures en modèle centralisé. La capacité de production estimée pour <strong class="tooltip">${sewing_machine_number}<span class="tooltiptext">Tooltip text</span></strong> machines à coudre est de <strong class="tooltip">${computed_dayli_production_semi_centralized}<span class="tooltiptext">Tooltip text</span></strong> masques/jours.<br/>
Pour rappel, il vous faut <strong class="tooltip">${computed_masks_per_day}<span class="tooltiptext">Tooltip text</span></strong> masques par jour pour atteindre votre objectif initial</p>
<br/>
<p>Il vous faudrait un local de au moins <strong class="tooltip">${local_size_in_square_meter_semi_centralized_model}m²<span class="tooltiptext">Tooltip text</span></strong> pour installer les postes de couture, de découpage, de pliage et de conditionnement.</p>
<br/>
<p>Il vous faudrait <strong class="tooltip">${extended_days_semi_centralized_production}<span class="tooltiptext">Tooltip text</span></strong> jours supplémentaires pour atteindre votre objectif de production. Sinon, il faut acheter <strong class="tooltip">${buy_need_semi_centralized_production}<span class="tooltiptext">Tooltip text</span></strong> masques en tissu en complément de la fabrique</p>